---
import chevron from '../assets/chevron-right.svg';
const { chapter, lesson, courseIndex } = Astro.props;
---
<style>
  *:focus {
    border-radius: 4px;
    box-shadow: rgb(0, 82, 255) 0px 0px 12px, rgb(0, 82, 255) 0px 0px 0px 1px;
    outline: 1px;
    transition: box-shadow 0.1s ease-in-out 0s;
  }

  .sidebar {
    z-index: 3;
    font-weight: 300;
    width: 370px;
    background: white;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 4px 0px, rgb(0 0 0 / 24%) 0px 4px 4px 0px;
  }

  .sidebar > ul:first-of-type {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 12px 18px;
  }


  .sidebar-link {
    display: block;
    text-decoration: none;
    color: rgb(0, 82, 255);
  }

  .sidebar-link:hover,
  .sidebar-link:focus{
    text-decoration: underline;
    background-color: #f5f5f5;
  }

  .sidebar-link:visited {
    color: rgb(0, 82, 255);
  }

  .sidebar-link:hover {
    background-color: #f5f5f5;
  }

  .active-chapter,
  .current {
    font-weight: 500;
    background-color: #f5f5f5;
    border-left: solid 5px rgb(0, 82, 255);
  }

  summary {
    list-style: none;
  }
  summary:hover,
  summary:focus {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  summary li {
    display: flex;
    align-items: center;
  }

  details .chevron {
    margin-right: 12px;
    transition: transform 0.1s ease-in-out;
  }
  details[open] .chevron {
    transform: rotate(90deg);
  }

  .active-chapter .chevron {
    margin-left: -5px;
  }

  .lessons {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  .lessons li {
    counter-increment: my-awesome-counter;
    padding-left: 50px;
  }
  .lessons li::before {
    content: counter(my-awesome-counter) ". ";
    margin-right: 8px;
    font-weight: bold;
  }
</style>
<div class="sidebar">
  <ul>
    {courseIndex.map((c, i) => {
      return (
        <ul>
          <details open={parseInt(chapter) === i}>
            <summary>
              <li class={parseInt(chapter) === i ? 'active-chapter' : ''}>
                <img class="chevron" src={chevron} alt=""/>
                {c.title}
              </li>
            </summary>
            <ul class="lessons">
              {c.lessons.map((l, j) => {
                return parseInt(chapter) > i
                  ? (<a class="sidebar-link" href={`/sw/chapter/${i}/lesson/${j}`}>
                    <li class={lesson === j ? 'active-lesson' : ''}>{l.title}</li>
                  </a>)
                  : (parseInt(chapter) >= i && parseInt(lesson) >= j) 
                    ? (<a class="sidebar-link" href={`/sw/chapter/${i}/lesson/${j}`}>
                        <li class={lesson === j ? 'active-lesson' : ''}>{l.title}</li>
                      </a>)
                    : <li>{l.title}</li>
                })
              }
            </ul>
          </details>
        </ul>
      )
    })}
  </ul>
</div>